@import "../../styles/_variables.scss";

.footer {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    margin-top: 14px;

    &__text {
        &--disabled {
            color: $yellow;
        }
    }

    &__link {
        color: $blue;
        text-decoration: underline;
        text-decoration-style: dashed;
        cursor: pointer;
    }
}
